<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<h1 style="text-align: center">Личный кабинет</h1>
<hr>
<br>
<div style="text-align: center">
  <img src="/avatar/avatar.jpg"
       style="border:2px solid black; border-radius: 100px" height="300px">
  <br>
  <br>
  <h2 th:text="${user.name}"></h2>
  <br>
  Электоронная почта: <b th:text="${user.email}"></b>
  <br>
  Номер телефона: <b th:text="${user.phone}"></b>
  <br>
  <br>
  <a class="btn btn-dark mb-3" style="text-align: center; width: 100%" th:if="${user.isAdmin()}"
     href="/admin">
    Панель администратора
  </a><br>
<a class="btn btn-dark mb-3" style="text-align: center; width: 100%"
   href="/my/buildings">
  Мои объявления
</a>
<form action="/logout" method="post">
  <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
  <button type="submit" style="text-align: center; width: 100%" class="btn btn-danger mb-2">
    Выйти из аккаунта
  </button>
</form>
</div>
</body>
</html>